#flexyPics,
#flexyPics-ajax {
	background: #222;
	display: block;
	height:100%;
	left: 0;
	position: absolute;
    overflow: hidden;
    top:0;
    width: 100%;
    -moz-transition: top 0.4s ease-in 0s;
	-webkit-transition: top 0.4s ease-in 0s;
	-o-transition: top 0.4s ease-in 0s;
	transition: top 0.4s ease-in 0s;
}
#flexyPics-ajax {
	z-index: 99;
	background: transparent;
}
#ajax #flexyPics2 {
	z-index: 999;
}
.slice {
	float: left;
	position: relative;
}
.col {
	float: left;
	height: 100%;	
	width: 25%; 
/*	margin-left: -0.1%*/
}
.col.big {
	width: 50%;
}
.col.big.short {
	height: 50%;
	margin-left: 0;
	width: 50%;
}
.col.bigger {
	width: 66.6%;
}
.col.short {
	height: 50%;
	margin-left: 0;
	width: 33.4%;
}
.col.extra.big {
	width: 75%;
}
.mask {
	float: left;
	overflow: hidden;
	position: relative;
	width: 100%;
}
.mask img {
	height: 101%;
	position: absolute;
	width: 100%;
	display: none;
}
.mask.hundred {
	height: 100%;
}
.mask.oneThird {
	height: 33.4%
}
.mask.fifty {
	height: 50%
}
.mask.twoThird {
	height: 66.7%
}
.mask.sixteen {
	height: 16.7%;
}
.mask.large {
	width: 66.6%;
}
.mask.small {
	width: 33.4%;
}
#nine.mask.multiple {
	width: 26%;
}
#ten.mask.multiple {
	width: 74%;
}

/***************************************
 *Media queries for tablets in portrait
 ***************************************/
@media (max-width:810px) {
	.col.left {
		width: 33.5%;
	}
	.col.extra.big {
		width: 66.5%;
	}
	.col.left .fifty,
	.col.left .sixteen,
	.col.extra.big .fifty {
		height: 37.5%
	}
	.col.short {
		width: 50%;
		height: 37.5%;
	}
	.col.extra.big .fifty.thinner {
		height: 25%;
	}
	.col.left .oneThird {
		height: 25%
	}
	.mask.large {
		width: 100%;
	}
}